---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h3>国際学会</h3>
<ul>
  <li>Yoshihide Yamato, Gianni Cataldi, Yuri Aikawa, ALMA MAPS Collaboration,	ALMA Observations of N2H+ and N2D+ in Protoplanetary Disks,	Five Years After HL Tau: A new era on planet formation,	contributed talk, 2020.12.07-11
  <li>Yoshihide Yamato, Gianni Cataldi, Yuri Aikawa, ALMA MAPS Collaboration,	ALMA Observations of N2H+ and N2D+ in Protoplanetary Disks, ALMA/45m/ASTE Users Meeting FY2020,	poster, 2021.01.05-07</li>
  <li>Yoshihide Yamato, Gianni Cataldi, Yuri Aikawa, ALMA MAPS Collaboration,	Deuterium fractionation and ionization in protoplanetary disks probed by N2H+ and N2D+, East Asia ALMA Science Workshop 2021, contributed talk, 2021.02.17-19</li>
  <li>Yoshihide Yamato, Gianni Cataldi, Yuri Aikawa, ALMA MAPS Collaboration,	Deuterium fractionation and ionization rate in proto-planetary disks by MAPS project, From cores to codes: planning for the next steps in planet formation, contributed talk, 2021.03.09-11</li>>
  <li>Yoshihide Yamato, Gianni Cataldi, Yuri Aikawa, the MAPS Collaboration, Deuterium chemistry and ionization rate in protoplanetary disks, Astrochemical Frontiers 2021 Quarantine Edition 2, contributed talk, 2021.07.08
</ul>


<h3>国内学会</h3>
  <li>大和 義英、Gianni Cataldi、相川祐理、ALMA MAPS Collaboration, 原始惑星系円盤におけるN2H+, N2D+輝線観測データの解析, 日本天文学会2020年秋季年会, 口頭, 2020.09.08-10</li>>
  <li>大和 義英、Gianni Cataldi、相川祐理、ALMA MAPS Collaboration,	原始惑星系円盤におけるN2H+, N2D+輝線観測データの解析,	Nobeyama Science Workshop 2020, 口頭, 2020.09.15-16</li>>
  <li>大和 義英、Gianni Cataldi、相川祐理、ALMA MAPS Collaboration,	原始惑星系円盤におけるN2H+, N2D+輝線観測データの解析,	日本惑星科学会秋季講演会, 口頭（最優秀発表賞セッション）, 2020.11.12-14</li>
  <li>大和 義英、Gianni Cataldi、相川祐理、ALMA MAPS Collaboration,	ALMA高空間分解能観測で探る原始惑星系円盤における重水素濃縮と電離状態,	惑星系形成若手研究会, 口頭,	2021.02.22-24</li>
	<li>大和 義英、古家健次、相川祐理、Magnus V. Persson, John J. Tobin, Vianny Taquet, Jes. K. Jørgensen, Mihkel Kama,	Class 0天体におけるNH3のVLA観測, 分子雲から原始星誕生までを追う ~新時代の星形成モデル構築に向けて~, 口頭, 	2020.12.01-03</li>
  <li>大和 義英、古家健次、相川祐理、Magnus V. Persson, John J. Tobin, Vianny Taquet, Jes. K. Jørgensen, Mihkel Kama,	VLA observations of ammonia lines towards the Class 0 protostar NGC1333 IRAS4A,	日本天文学会2021年春季年会, 口頭, 2021.03.16-19</li>


<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
